name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string
jobs:
  ci:
    uses: ./.github/workflows/continuous-integration.yml
  powerset:
    needs: [ci]
    uses: ./.github/workflows/feature-powerset.yml
  tag:
    name: Tag
    needs: [ci, powerset]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          git config --local user.name "GitHub Action"
          git config --local user.email "action@github.com"
          git tag -a "v${{ inputs.version }}" -m "Tag version v${{ inputs.version }}."
          git push origin "v${{ inputs.version }}"
